*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  height: 100vh;
  background-color: #FDF4F5;
}

.input{
  width: 40vw;
  height: 48px;
  color: #E8A0BF;
  font-size: 22px;
  font-weight: bolder;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
}

.btn{
  height: 48px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.add{
  background-color: #E8A0BF;
}

.del{
  background-color: #BA90C6;
}

.edit{
  background-color: #C0DBEA;
}

.btn:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: 1s;
}

.app-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}